html {
  font-size: 12px;
}
body {
  background-color: black;
  color: seashell;
}

.header {
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
}

.header img {
    height: 1.25rem;
    margin-left: 150px;
    margin-right: 1.25rem;
}

.banner {
  display: flex;
  background-image: url("../img/moto.jpeg");
  background-size: cover;
  height: 300px;

}
/*BANNER SECTION*/

.background-bike {

  }

.new-arrival {
  background-color: black;
  height: 300px
  width: 500px;
  margin-top: 75px;
  position: relative;
}

nav {
  align-content: center;
  text-align: center;
  background-color: red;
  height: 4rem;
}
